@import "customVariables";
@import "reference";
@import "font-awesome-5/fa-brands";
@import "font-awesome-5/fa-regular";
@import "font-awesome-5/fa-solid";
@import "font-awesome-5/fontawesome";

#login-form {
  ul.select {
    width: 850px;
    font-size: 0.8em;
  }

  p {
    input[type=text], input[type=password] {
      width: 405px;
    }
  }
}

.highlighted {
	background-color: #EB6E1F;
	color: $white;
	padding: 5px;
	margin: 5px
}

.bold {
  font-weight: bold;
}
